# LEGO DATASET ANALYSIS

### Importing Libraries

In [1]:
import numpy as np
import pandas as pd

### Getting Data

In [2]:
sets = pd.read_csv('sets.csv')

In [3]:
sets.head()

  set_num                        name  year  theme_id  num_parts
0   001-1                       Gears  1965         1         43
1  0011-2           Town Mini-Figures  1979        67         12
2  0011-3  Castle 2 for 1 Bonus Offer  1987       199          0
3  0012-1          Space Mini-Figures  1979       143         12
4  0013-1          Space Mini-Figures  1979       143         12

In [4]:
themes = pd.read_csv('themes.csv')

In [5]:
pd.set_option('display.max_rows', 445)

### Display Top 10 rows of the dataset

In [6]:
themes.head(10)

   id                    name  parent_id
0   1                 Technic        NaN
1   3             Competition        1.0
2   4          Expert Builder        1.0
3  16              RoboRiders        1.0
4  17          Speed Slammers        1.0
5  18               Star Wars        1.0
6  19            Supplemental        1.0
7  20         Throwbot Slizer        1.0
8  21  Universal Building Set        1.0
9  22                 Creator        NaN

### Display Last 10 Rows of the dataset

In [7]:
themes.tail(10)

      id                            name  parent_id
435  711  The LEGO Batman Movie Series 2      535.0
436  712           Series 21 Minifigures      535.0
437  713                          VIDIYO        NaN
438  714                    Looney Tunes      535.0
439  715                          Marvel      535.0
440  716                         Modulex        NaN
441  717                     Speed Racer        NaN
442  718           Series 22 Minifigures      535.0
443  719      BrickLink Designer Program        NaN
444  720                     The Muppets      535.0

### Check datatype of each columns

In [8]:
themes.dtypes

id             int64
name          object
parent_id    float64
dtype: object

In [9]:
sets.dtypes

set_num      object
name         object
year          int64
theme_id      int64
num_parts     int64
dtype: object

### Checking NULL values

In [10]:
sets.isnull().sum()

set_num      0
name         0
year         0
theme_id     0
num_parts    0
dtype: int64

In [11]:
themes.isnull().sum()

id             0
name           0
parent_id    138
dtype: int64

### How many rows and columns are there in our dataset

In [12]:
sets.shape

(19415, 5)

In [13]:
len(sets.columns)

5

In [14]:
sets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19415 entries, 0 to 19414
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   set_num    19415 non-null  object
 1   name       19415 non-null  object
 2   year       19415 non-null  int64
 3   theme_id   19415 non-null  int64
 4   num_parts  19415 non-null  int64
dtypes: int64(3), object(2)
memory usage: 758.5+ KB

### Joining the two datasets to answer questions

In [15]:
sets_themes = pd.merge(sets, themes, how = 'left', left_on = 'theme_id', right_on='id', suffixes = ('_sets', '_themes'))

In [16]:
sets_themes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19415 entries, 0 to 19414
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   set_num      19415 non-null  object
 1   name_sets    19415 non-null  object
 2   year         19415 non-null  int64
 3   theme_id     19415 non-null  int64
 4   num_parts    19415 non-null  int64
 5   id           19415 non-null  int64
 6   name_themes  19415 non-null  object
 7   parent_id    8900 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 1.3+ MB

In [17]:
len(sets_themes)

19415

### Now let's answer some questions

#### 1.)What is the total number of parts per theme

In [18]:
Num_Parts_per_theme = sets_themes.groupby('name_themes').sum().reset_index()
Num_Parts_per_theme = Num_Parts_per_theme[['name_themes', 'num_parts']]
Num_Parts_per_theme.sort_values('num_parts', ascending=False).head()

        name_themes  num_parts
303         Technic     228199
292       Star Wars     224009
66   Creator Expert     132082
64          Creator     102388
209         Ninjago      96712

#### 2.) What is the total number of parts per year

In [19]:
Num_Parts_per_year = sets_themes.groupby('year').sum().reset_index()
Num_Parts_per_year = Num_Parts_per_year[['year', 'num_parts']]
Num_Parts_per_year.sort_values('num_parts', ascending=False).head()

    year  num_parts
70  2021     264831
69  2020     211981
68  2019     191526
66  2017     178636
67  2018     171918

#### 3.) How many sets were created in each Century in the dataset

##### we have to add Century as a derived to the sets_themes dataset

In [20]:
sets_themes['year'].unique()

array([1965, 1979, 1987, 2013, 1966, 1967, 1985, 1968, 2015, 2019, 1973,
       1999, 1964, 1969, 1978, 1976, 1975, 2010, 2009, 2011, 2012, 1970,
       2001, 2008, 2016, 2017, 2018, 2003, 2002, 2004, 2006, 1971, 1982,
       2005, 2007, 1986, 2014, 2020, 2021, 2022, 1977, 1983, 1991, 1980,
       1984, 1981, 2000, 1998, 1997, 1955, 1956, 1957, 1958, 1974, 1972,
       1992, 1990, 1989, 1988, 1993, 1994, 1996, 1995, 1959, 1962, 1961,
       1960, 1963, 1949, 1950, 1953, 1954], dtype=int64)

In [21]:
sets_themes['century'] = np.where(sets_themes['year'] > 2000, '21st_century', '20th_century')

In [22]:
sets_themes

,set_num,name_sets,year,theme_id,num_parts,id,name_themes,parent_id,century
0,001-1,Gears,1965,1,43,1,Technic,NaN,20th_century
1,0011-2,Town Mini-Figures,1979,67,12,67,Classic Town,50.0,20th_century
2,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,199,Lion Knights,186.0,20th_century
3,0012-1,Space Mini-Figures,1979,143,12,143,Supplemental,126.0,20th_century
4,0013-1,Space Mini-Figures,1979,143,12,143,Supplemental,126.0,20th_century
...,...,...,...,...,...,...,...,...,...
19410,XWING-1,Mini X-Wing Fighter,2019,158,60,158,Star Wars,NaN,21st_century
19411,XWING-2,X-Wing Trench Run,2019,158,52,158,Star Wars,NaN,21st_century
19412,YODACHRON-1,Yoda Chronicles Promotional Set,2013,158,413,158,Star Wars,NaN,21st_century
19413,YTERRIER-1,Yorkshire Terrier,2018,598,0,598,Promotional,NaN,21st_century
19414,ZX8000-1,ZX 8000 LEGO Sneaker,2020,501,0,501,Gear,NaN,21st_century

In [23]:
Num_set_per_Century = sets_themes.groupby('century').count().reset_index()
Num_set_per_Century = Num_set_per_Century[['century', 'set_num']]

Num_set_per_Century

        century  set_num
0  20th_century     4861
1  21st_century    14554

#### What percentage of sets ever released in the 21st Century where Trains Themed

In [24]:
Century_21_Data = sets_themes[sets_themes['century'] == '21st_century']
Train = Century_21_Data[Century_21_Data['name_themes'].str.contains('Train')]

In [25]:
Century_21_Data.shape

(14554, 9)

In [26]:
Train.shape

(64, 9)

In [27]:
Train.shape[0] / Century_21_Data.shape[0] * 100

0.4397416517795795

#### What percentage of sets ever released in the 21st Century where Disney Themed

In [28]:
Disney = Century_21_Data[Century_21_Data['name_themes'].str.contains('Disney')]

In [29]:
Disney.shape

(184, 9)

In [30]:
Disney.shape[0] / Century_21_Data.shape[0] * 100

1.264257248866291

In [31]:
Populer_theme_per_year = Century_21_Data.groupby(['year', 'name_themes']).count().reset_index()
Populer_theme_per_year = Populer_theme_per_year[['year', 'name_themes', 'set_num']].sort_values('set_num', ascending=False)
Populer_theme_per_year.drop_duplicates('year').sort_values('year', ascending=False)

      year name_themes  set_num
1373  2022        City       49
1327  2021        Gear      215
1252  2020        Gear      151
1181  2019        Gear      173
1104  2018        Gear      116
1035  2017        Gear      155
953   2016        Gear       97
866   2015        Gear       94
820   2014     Technic      116
705   2013        Gear       97
630   2012        Gear      107
564   2011        Gear      104
506   2010        Gear       59
451   2009        Gear      104
397   2008        Gear       84
340   2007        Gear      109
286   2006        Gear       75
213   2005    Bionicle       36
165   2004    Bionicle       48
109   2003    Bionicle       63
96    2002     Technic       65
6     2001    Bionicle       47

#### What is the most produced color of lego ever in terms of quantity of parts

In [32]:
colors = pd.read_csv('colors.csv')

In [33]:
colors.head(10)

   id            name     rgb is_trans
0  -1       [Unknown]  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f
5   4             Red  C91A09        f
6   5       Dark Pink  C870A0        f
7   6           Brown  583927        f
8   7      Light Gray  9BA19D        f
9   8       Dark Gray  6D6E5C        f

In [34]:
inv_part = pd.read_csv('inventory_parts.csv')

In [35]:
inv_part

         inventory_id        part_num  color_id  quantity is_spare
0                   1        48379c01        72         1        f
1                   1           48395         7         1        f
2                   1  stickerupn0077      9999         1        f
3                   1         upn0342         0         1        f
4                   1         upn0350        25         1        f
...               ...             ...       ...       ...      ...
1021260        138011            6578         0         4        f
1021261        138011            6587        72         1        f
1021262        138011            6636        71         4        f
1021263        138011            6636         4         4        f
1021264        138011           76385         4         2        f

[1021265 rows x 5 columns]

#### Join two datasets to answer the question

In [36]:
color_inv = pd.merge(inv_part, colors, how = 'left', left_on = 'color_id', right_on  = 'id')

In [37]:
color_inv.rename(columns = {'name': 'color_name'}, inplace = True)

In [38]:
color_inv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1021265 entries, 0 to 1021264
Data columns (total 9 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   inventory_id  1021265 non-null  int64
 1   part_num      1021265 non-null  object
 2   color_id      1021265 non-null  int64
 3   quantity      1021265 non-null  int64
 4   is_spare      1021265 non-null  object
 5   id            1021265 non-null  int64
 6   color_name    1021265 non-null  object
 7   rgb           1021265 non-null  object
 8   is_trans      1021265 non-null  object
dtypes: int64(4), object(5)
memory usage: 77.9+ MB

In [39]:
Popular_color = color_inv.groupby('color_name').sum().reset_index()

Popular_color = Popular_color[['color_name', 'quantity']].sort_values('quantity', ascending=False)
Popular_color.head(10)

            color_name  quantity
1                Black    645886
58   Light Bluish Gray    385494
198              White    379771
23    Dark Bluish Gray    271103
137                Red    256542
2                 Blue    178515
199             Yellow    177041
155                Tan    125366
138      Reddish Brown    106430
60          Light Gray    101880